<div id="edit-user-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div id="user-avatar-container" class="edit-user-field">
      <div id="user-avatar-parent-div">
        <% if current_user.avatar.attached? %> 
          <div id="edit-user-avatar" class="background-image" style="background-image: url('<%= url_for(current_user.avatar) %>');"></div>
        <% else %>
          <div id="edit-user-avatar" class="background-image" style="background-image: url('<%= "/assets/default_profile.jpg" %>');"></div>
        <% end %>
      </div>

      <div>
        <%= f.file_field :avatar, id: "primary-file-input" %>
        <p id="edit-user-user-title"><%= current_user.username %></p>
        <p id="choose-file" class="edit-user-field-input-decoy">Change Profile Photo</p>
      </div>
    </div>

    <div class="edit-user-field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="edit-user-field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="edit-user-field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div class="edit-user-field">
      <%= f.label :bio %>
      <%= f.text_area :bio, id: "edit-bio-text-area" %>
    </div>

    <div class="edit-user-field">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="edit-user-field">
      <% if @minimum_password_length %>
        <% placeholder_txt = "#{@minimum_password_length} characters minimum" %>
      <% else %>
        <% placeholder_txt = "" %>
      <% end %>

      <%= f.label "New password (optional)" %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: placeholder_txt, id: "edit-user-new-password" %>
    </div>

    <div id="edit-user-confirm-p1" class="edit-user-field">
      <%= f.label "Confirm new password" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: placeholder_txt %>
    </div>

    <div id="edit-user-confirm-p2" class="edit-user-field">
      <%= f.label "Current Password (required)" %>
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "(required)" %>
    </div>

    <div class="edit-user-actions">
      <%= f.submit "Submit", id: "edit-user-submit" %>
    </div>
  <% end %>

  <div class="edit-user-cancel-div">
    <h3 id="edit-user-title">Cancel Your Account <i class="fas fa-caret-down"></i></h3>
    <%= button_to "Cancel", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, id: "edit-user-delete" %>
  </div>

</div>