<h1>Users Index</h1>

<%= form_tag(users_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>User name</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to user.username, user %></td>
      </tr>
    <% end %>
  </tbody>
</table>