<h1>Show User</h1>

<% if current_user != @user %>
  <% @follow = Follow.find_by(user_id: current_user.id, following_id: @user.id) %>

  <% follow_txt = @follow ? "Unfollow" : "Follow" %>

  <h2><%= link_to follow_txt, ajax_follows_update_follow_path(user_id: current_user.id, following_id: @user.id, html_id: "follow-#{@user.id}"), method: :put, remote: true, id: "follow-#{@user.id}" %></h2>
<% end %>

<%= user_avatar(@user, size=170) %>

<h3><%= @user.email %></h3>
<h3><%= @user.bio === nil || @user.bio.strip === ""  ? "No Bio added" : "Bio " + @user.bio %></h3>
<h3><%= "#{@user.first_name.downcase.capitalize} #{@user.last_name.downcase.capitalize}" %></h3>
<h3><%= @user.username %></h3>
<h3><%= "#{@user.posts.count} posts" %></h3>
<h3><%= "#{@user.followers.count} followers" %></h3>
<h3><%= "#{@user.following.count} following" %></h3>
<br /><br />

<% if @user_posts.length != 0 %>
  <h1><%= current_user === @user ? "My posts" : "#{@user.first_name.downcase.capitalize}'s' posts" %></h1>
  <table>
    <thead>
      <tr>
        <th>User name</th>
        <th>Media</th>
        <th>Caption</th>
      </tr>
    </thead>
    <tbody>
      <% @user_posts.each do |post| %>
        <% user = User.find(post.user_id) %>

        <% if post.class.method_defined? :image %>
          <tr>
            <td><%= link_to user.username, user %></td>
            <td><%= image_tag post.image.variant(resize: '300x300!') %></td>
            <td><%= link_to post.caption, post %></td>

            <td>
              <% like_exists = Like.where(post_id: post.id, user_id: current_user.id) == [] ? "Like" : "Unlike" %>

              <%= link_to like_exists, ajax_likes_update_like_path(id: post.id, type: "post", html_id: "likeable_id_#{post.id}", html_count_id: "like_count#{post.id}"), method: :put, remote: true, id: "likeable_id_#{post.id}" %>
            </td>

            <td>
              <p id=<%= "like_count#{post.id}" %>>
                <%= "#{post.likes.count} Like".pluralize(post.likes.count) %>
              </p>
            </td>

            <td><%= post.created_at.strftime("%B, %d %Y") %></td>

            <% unless current_user === user %>
              <td>
                <% save_exists = SavedPost.where(user_id: current_user.id, post_id: post.id) === [] ? "Add" : "Remove" %>

                <%= link_to save_exists, ajax_saved_posts_saved_post_path(user_id: current_user.id, id: post.id, html_id: "saveable_post_id_#{post.id}"), method: :put, remote: true, id: "saveable_post_id_#{post.id}" %>
              </td>
            <% end %>

            <% if current_user === user %>
              <td>
                <%= link_to "Edit", edit_post_url(post) %>
              </td>
              <td>
                <%= link_to "Delete", post, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            <% end %>
          </tr>
        <% elsif post.class.method_defined? :clip %>
          <tr>
            <td><%= link_to user.username, user %></td>
            <td><%= video_tag url_for(post.clip), controls: "" %></td>
            <td><%= link_to post.caption, post %></td>

            <td>
              <% like_exists = Like.where(video_post_id: post.id, user_id: current_user.id) == [] ? "Like" : "Unlike" %>

              <%= link_to like_exists, ajax_likes_update_like_path(id: post.id, type: "video post", html_id: "likeable_id_#{post.id}", html_count_id: "like_count#{post.id}"), method: :put, remote: true, id: "likeable_id_#{post.id}" %>
            </td>

            <td>
              <p id=<%= "like_count#{post.id}" %>>
                <%= "#{post.likes.count} Like".pluralize(post.likes.count) %>
              </p>
            </td>

            <td><%= post.created_at.strftime("%B, %d %Y") %></td>

            <% unless current_user === user %>
              <td>
                <% save_exists = SavedPost.where(user_id: current_user.id, post_id: post.id) === [] ? "Add" : "Remove" %>

                <%= link_to save_exists, ajax_saved_posts_saved_post_path(user_id: current_user.id, id: post.id, html_id: "saveable_post_id_#{post.id}"), method: :put, remote: true, id: "saveable_post_id_#{post.id}" %>
              </td>
            <% end %>

            <% if current_user === user %>
              <td>
                <%= link_to "Edit", edit_video_post_url(post) %>
              </td>
              <td>
                <%= link_to "Delete", post, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            <% end %>
          </tr>
        <% end %>

      <% end %>
    </tbody>
  </table>
<% else %>
  <% if current_user === @user %>
    <h2>You haven't posted anything!</h2>
    <%= link_to "Add Post", new_post_path %>
  <% else %>
    <h2><%= "#{@user.first_name} #{@user.last_name} hasn't posted yet." %></h2>
  <% end %>
<% end %>

<% if current_user === @user %>
  <h1>Saved posts</h1>

  <table>
    <thead>
      <tr>
        <th>User name</th>
        <th>Media</th>
        <th>Caption</th>
        <th>Add/Remove</th>
      </tr>
    </thead>
    <tbody>
      <% @saved_posts.each do |saved_post| %>
        <% post = Post.find(saved_post.post_id) %>
        <% user = User.find(post.user_id) %>
        <tr>
          <td><%= link_to user.username, user %></td>
          <td><%= image_tag post.image.variant(resize: '300x300!') %></td>
          <td><%= link_to post.caption, post %></td>
          <td>
            <% save_exists = SavedPost.where(user_id: current_user.id, post_id: post.id) === [] ? "Add" : "Remove" %>

            <%= link_to save_exists, ajax_saved_posts_saved_post_path(user_id: current_user.id, id: post.id, html_id: "saveable_post_id_#{post.id}"), method: :put, remote: true, id: "saveable_post_id_#{post.id}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>