<h1>Post Index Welcome <%= current_user.first_name.downcase.capitalize %></h1>

<%= link_to "New Post", new_post_path %>
<br /><br />
<%= link_to "Sign in", new_user_session_url %>
<%= link_to "Sign up", new_user_registration_url %>

<br /><br />

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Caption</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <% @post.each do |post| %>
      <tr>
        <td>
          <%= link_to post.caption, post %>
        </td>
        <td>
          <%= User.find(post.user_id).email %>
        </td>
        <td><%= post.comments.length %></td>
        <% if current_user.id === post.user_id %>
          <td>
            <%= link_to "Edit", edit_post_url(post) %>
          </td>
          <td>
            <%= link_to "Delete", post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
