<h1>Post Index <%= current_user.email %></h1>

<%= link_to "New Post", new_post_path %>
<br /><br />
<%= link_to "Sign in", new_user_session_url %>
<%= link_to "Sign up", new_user_registration_url %>

<br /><br />

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Caption</th>
    </tr>
  </thead>
  <tbody>
    <% @post.each do |post| %>
      <tr>
        <td>
          <%= link_to post.caption, post %>
        </td>
        <td>
          <%= User.find(post.user_id).email %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
