<%= javascript_pack_tag "posts/index" %>

<div id="post-index-container">
  <h1 id="pi-title">Post Index <i class="fab fa-instagram-square"></i></h1>
  <%= link_to "New Post", new_post_path %>

  <br /><br />

  <div class="post-display-grid">
    <% @sorted_by_likes.each do |post| %>
      <% if post.class.method_defined? :image %>
        <%= link_to post, class: "pi-tile-link" do %>
          <div class="post-index-tile-div background-image" style="background-image: url('<%= url_for(post.image) %>');">
            <div class="tinted-tile">
              <p class="post-index-info">
                <i class="fas fa-heart"></i>
                <span class="pi-like-span">
                  <%= post.likes.count %>
                </span>

                
                <i class="fas fa-comment"></i>
                <span class="pi-comment-span">
                  <%= post.comments.count %>
                </span>
              </p>
            </div>
          </div>
        <% end %>
      <% elsif post.class.method_defined? :clip %>
        <%= link_to post, class: "pi-tile-link" do %>
          <div class="post-index-tile-div video-container">
            <%= video_tag url_for(post.clip), class: "post-index-content post-index-video" %>
            <div class="tinted-tile">
              <p class="post-index-info">
                <i class="fas fa-heart"></i>
                <span class="pi-like-span">
                  <%= post.likes.count %>
                </span>

                <i class="fas fa-comment"></i>
                <span class="pi-comment-span">
                  <%= post.comments.count %>
                </span>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
