 <% if user_signed_in? %>  
  <div id="nav-bar">
    <div id="inner-nav-div">

      <%= link_to posts_path, id: "nav-logo-link",class: "nav-link" do %>
        <%= image_tag ("/assets/logo.png"), id: "nav-logo" %>
      <% end %>

      <%= form_tag(users_path, method: :get, id: "nav-form") do %>
        <%= text_field_tag(:search, params[:search], placeholder: "search",id: "nav-search") %>

        <button id="nav-search-btn" type="submit" name="commit">
          <i class="fas fa-search"></i>
        </button>
      <% end %>

      <div id="nav-right">
        <%= link_to posts_path, class: "nav-icon-link" do %>
          <i class="fas fa-home"></i>
        <% end %>
        
        <%= link_to conversations_path, class: "nav-icon-link" do %>
          <i class="far fa-paper-plane"></i>
        <% end %>

        <%= link_to following_feed_path, class: "nav-icon-link" do %>
          <i class="far fa-compass"></i>
        <% end %>

        <%= link_to activity_path, class: "nav-icon-link" do %>
          <i class="far fa-heart"></i>
        <% end %>

        <div>
          <%= image_tag(current_user.avatar.variant(resize: "30x30!"), id: "nav-prof-pic") %>

          <div id="nav-drop-content">
            <div id="drp-arrow">
              <i class="fas fa-chevron-up"></i>
            </div>
            <%= link_to current_user do %>
              <i class="far fa-user-circle"></i>
              <span class="nav-link-txt">Profile</span>
            <% end %>

            <%= link_to saved_posts_path do %>
              <i class="far fa-bookmark"></i>
              <span class="nav-link-txt">Saved</span>
            <% end %>

            <%= link_to edit_user_registration_path do %>
              <i class="fas fa-cog"></i>
              <span class="nav-link-txt">Settings</span>
            <% end %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, id: "nav-log-out" %>
          </div>
        </div>
      </div>

    </div>
  </div>
<% else %>
  <div id="nav-bar">
    <div id="nav-sign-out">
      <%= image_tag ("/assets/logo.png"), id: "nav-logo" %>
    </div>
  </div>
<% end %>